---
import PageMeta from "../components/PageMeta.astro";
import PageLayout from "../layouts/PageLayout.astro";
import Heading from "../components/ui/Heading.astro";
import { SITE_TITLE } from "../config";
---

<PageLayout>
  <PageMeta title={`${SITE_TITLE}`} slot="meta" />
  <Fragment slot="main">
    <section class="wrapper">
      <Heading
        as="h1"
        class="name gradient-text gradient-color outline outline-color"
      >
        The Philosophical Code
      </Heading>
      <p class="subtext">Exploring Code From A Philosophical Point Of View</p>
      <p class="hello">
        The Philosophical Code is an open-source article series exploring the intersection of philosophy and computation. It was started by <a class="animated" href={"https://github.com/houzyk"} target="_blank">Houzair Koussa</a> in late 2021. Our <i>raison d'être</i> is quite simple - think of code like a Ferrari! It's a very powerful car and we can go to a lot of places with it. The job of the Engineer is to drive that car; the job of the "Philosopher Of Code" is to open its hood and study the engines. In other words, our goal is to conceptually break down computation itself.
      </p>
    </section>
    <div>
      <Heading as="h2">Topics</Heading>
      <ul>
        <li>
          Linguistics & Computation
        </li>
        <li>
          Theoretical Computer Science
        </li>
        <li>
          Philosophy Of Computer Science
        </li>
        <li>
          Logic & Computation
        </li>
        <li>
          Philosophy Of Mathematics
        </li>
        <li>
          Computational Ethics
        </li>
        <li>
          Metamathematics
        </li>
        <li>
          Functional & Logical Programming
        </li>
        <li>
          Philosophy Of Mind & Cognitive Science
        </li>
        <li>
          Philosophy Of AL and ML
        </li>
        <li>
          Philosophy Of Language & Formal Languages
        </li>
      </ul>

      <p>To contribute, head over to our Github <a href="https://github.com/houzyk/thephilosophicalcode" class="animated" target="_blank">repository</a>.</p>
    </div>
  </Fragment>
</PageLayout>

<style>
  .wrapper {
    padding-top: 1rem;
    /* padding-bottom: 1rem; */
  }

  .outline {
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 0.075rem var(--outline-color);
  }

  .gradient-color {
    --gradient-text-from: #5433ff;
    --gradient-text-via: #20bdff;
    --gradient-text-to: #a5fecb;
  }

  .outline-color {
    --outline-color: var(--text-heading);
  }

  @media (prefers-color-scheme: dark) {
    .gradient-color {
      --gradient-text-from: #a5fecb;
      --gradient-text-via: #20bdff;
      --gradient-text-to: #a5fecb;
    }
    .outline-color {
      --outline-color: transparent;
    }
  }

  .name {
    font-size: 3rem;
    margin: 0;
    letter-spacing: -2px;
    line-height: 3.5rem;
  }

  .subtext {
    color: var(--text-heading);
    font-size: 1.25rem;
    letter-spacing: -0.51px;
    line-height: 2rem;
    margin-top: 0.5rem;
  }
  @media (min-width: 640px) {
    .name {
      font-size: 4rem;
      line-height: 4.75rem;
    }
    .subtext {
      font-size: 1.5rem;
      letter-spacing: -0.51px;
      line-height: 2rem;
      margin-top: 0.5rem;
    }
  }
</style>
