---
---

<footer>
  <div>
    Started In 2021. From Sunny Mauritius.
  </div>
</footer>

<style>
  footer {
    grid-area: footer;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.875rem;
    margin-top: 1rem;
    line-height: 1.75;
  }
</style>
