---
---

<footer>
  <div>
    <div class="footer-separator">
      houzairmk@icloud.com
    </div>
    |
    <div class="footer-separator">
      <a
        class="centered animated"
        href="/rss.xml"
        aria-label="RSS"
        target="_blank"
      >
        RSS
      </a>
    </div>
    |
    <div class="footer-separator">
      <a
        class="centered animated"
        href="/data/entry.json"
        aria-label="Endpoints"
        target="_blank"
      >
        Endpoints
      </a>
    </div>
  </div>
</footer>

<style>
  footer {
    grid-area: footer;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.875rem;
    margin-top: 1rem;
    line-height: 1.75;
  }

  .footer-separator{
    display: inline-block;
  }
</style>
